**/__pycache__/*
**/*.png
**/*.jpg
**/*.tif
**/*.h5
**/*.pkl
**/debug/*
**/output/*
**/temp/*
**/checkpoint/*
**/project_env/*
**/Archive/*
**/assets/*
**/ipynb_checkpoints/*
**/pycheckpoint/*
**/desktop.ini
**/*.mp4
**/Results/*
**/cache/*