affine==2.3.1
alphashape==1.3.1
attrs==22.1.0
autopep8==1.7.0
bottle==0.12.23
bottle-websocket==0.2.9
certifi==2022.9.24
cffi==1.15.1
click==8.1.3
click-log==0.4.0
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.5
contourpy==1.0.6
cycler==0.11.0
dill==0.3.6
Eel==0.14.0
Flask==2.2.2
fonttools==4.38.0
future==0.18.2
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.1
imageio==2.22.2
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
llvmlite==0.39.1
MarkupSafe==2.1.1
matplotlib==3.6.2
networkx==2.8.7
numba==0.56.3
numpy==1.23.4
opencv-python==4.6.0.66
packaging==21.3
pandas==1.5.1
Pillow==9.2.0
pyassimp==4.1.4
pycodestyle==2.9.1
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.6
PyWavelets==1.4.1
rasterio==1.3.3
Rtree==1.0.1
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.3
Shapely==1.8.5.post1
six==1.16.0
snuggs==1.4.7
threadpoolctl==3.1.0
tifffile==2022.10.10
toml==0.10.2
trimesh==3.15.5
Werkzeug==2.2.2
whichcraft==0.6.1
wxPython==4.2.0
zope.event==4.5.0
zope.interface==5.5.1
